<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Укоротитель ссылок</title>

</head>
<body>
    <h1>Укажите ссылку для укорачивания</h1>
    <form id="myForm">
        <label for="name">Ссылка:</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Получить</button>
    </form>
    <div id="response"></div>
    <div id="butdiv"></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        document.getElementById('myForm').addEventListener('submit', function (event) {
            event.preventDefault();

            const name = document.getElementById('name').value;
            const responseDiv = document.getElementById('response');

            fetch('/url_shorter/short', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ url: name })
            })
            .then(response => response.json())
            .then(data => {
                    responseDiv.innerHTML = `<a href="${data.status}" target="_blank">${data.status}</a>`;
                    document.getElementById('butdiv').innerHTML = `<button onclick=copytext('#response')>Скопировать</button>`;
            })
            .catch(error => {
                console.error('Error:', error);
                responseDiv.innerHTML = "<p>Error submitting form</p>";
            });
        });

        function copytext(el) {
	    var $tmp = $("<textarea>");
	    $("body").append($tmp);
	    $tmp.val($(el).text()).select();
	    document.execCommand("copy");
	    $tmp.remove();
}    
        
    </script>
</body>
</html>
